



<% Object.keys(messages).forEach(function (type) { %>
    <div class="alert alert-<%= type %> alert-dismissible fade show" role="alert">

        <% messages[type].forEach(function (message) { %>
            <%= message %>
                <% }) %>


                  
    </div>

    <% }) %>



