

<!--/404-->
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Error!</title>
	<!-- Meta tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<script type="application/x-javascript">
		addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
	</script>
	<!-- Meta tags -->


	<!-- font-awesome icons -->
	<link rel="stylesheet" href="/errors/css/font-awesome.min.css" />

	<!-- //font-awesome icons -->
	<link href="/errors/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
	<!-- //pop-ups-->
	<!--stylesheets-->
	<link href="/errors/css/style.css" rel='stylesheet' type='text/css' media="all">
	<!--//style sheet end here-->

	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">


</head>

<body>

	<h1 class="error"> Error Page</h1>
	<div class="top-w3ls">
		<h2>404</h2>
		<h3> SORRY</h3>
		<p> The page you were looking for could not be found. Would you like to go to <a href="/">homepage</a>
		</p>

		<h5></h5>
		<div class="row-col">
			<div class="banner-agileits-btm">
				<div class="w3layouts_more-buttn">
					<a href="/" class="play-icon popup-with-zoom-anim">Back to Home</a>
				</div>
				
			</div>

		</div>
	</div>
	<div class="copyright">
		
		<p>&copy;  Error Page.</p>
	</div>




	<!--scripts-->
	<script type='text/javascript' src='/errors/js/jquery-2.2.3.min.js'></script>
	<!--//scripts-->
	<!--//scripts-->
	<script src="/errors/js/jquery.magnific-popup.js" type="text/javascript"></script>
	<!-- <script>
		$(document).ready(function () {
			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});

		});
	</script> -->
	<!-- //pop-up-box video -->
	<!-- //js -->
</body>

</html>
<!--//404-->